@font-face {
    font-family: farsi;
    src:url('../Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: farsi;
     flex-direction: column;
     overflow-x: hidden;
}
/* scroll */
  /* width */
  ::-webkit-scrollbar {
    width: 19px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bdbbbb; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bdbbbb; 
  }
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93px;
    border-bottom:3px solid black ;
    background-color: #7289d9;
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 3;
}
li{
    list-style:none ;
    color: #fff;  
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header li input{
    background-color:#f0f0f0;
    border-radius:6px ;
    padding: 3px;
    text-align: right;
    width: 39vw;
    height: 33px;
    padding-right: 36px;
    font-family: farsi;
    font-weight: 600;
}
input:focus{
    /* border: none; */
    outline-style: none;
    
}
.col-tabs{
display: flex;
justify-content: center;
flex-direction: column;
/* border:3px solid red ; */
width: 23vw;
}
.part-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.part-2 {
    position: absolute;
    left: 9vw;
    width: 0px;
    border-bottom: 2.3px solid red;
    transition: .3s ease-in-out;
    margin-top: 29px;
}

.logo{
    border: 3px solid white;
    border-radius: 9px;
    margin-left: 1.9vw;
    padding: 9px;
}
.search-col{
    margin-left: 9vw;
}
.main{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    width:99vw;
    min-height: 69vh;
    border: 1.9px solid #ccc;
    margin-top: 19px;
    /* border-radius: 9px; */
    background-color: #e2dfdf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    /* box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75); */
    /* margin-bottom:19px ; */
    padding: 9px;
    font-weight: 500;
}
.img-box{
    margin: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 13px solid #fff;
    /* padding: 3px; */
    border-radius: 9px;
    cursor: pointer;
    transition: .3s all;
}
.img-box:hover{
    transform: translateY(-9px);
}
.img-box img{
    width: 19vw;
    height: 39vh;
    border-radius: 9px;
    background-color:#f3f3f3 ;
}
.new-page{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border: 6px solid #fff;
    border-radius: 9px;
    transition: .3s all;
    margin-left: 9px;
    cursor: pointer;
}
.new-page:hover{
    transform: translateY(-9px);
}
.new-page img{
     width: 13vw;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    
}
.d-name{
    padding-top: 6px;
    padding-bottom: 6px;
   background-color:#fff ;
  
   width: 100%;
   text-align: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.c-name{
     padding-top: 6px;
     padding-bottom: 6px;
    background-color:#fff ;
    border-bottom: 3px solid #f3f3f3;
    width: 100%;
    text-align: center;
}
.c-total{
     padding-top: 6px;
    background-color:#fff ;
     width: 100%;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.footer{
     display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100%;
}
.contact{
border-top: 1.6px solid #ccc;
 display: grid;
 grid-template-columns: auto auto;
 width: 100%;
}


d{
    margin-right: 6px;
}
.form-container h3{
    margin-top: 9px;
    margin-bottom: 6px;
}
.numbers{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* border: 1px solid violet; */
}
.numbers img{
    width: 60px;
    height: 60px;
}
.numbers p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers h3{
    margin-right: 6vw;
    margin-top: 19px;
}
.numbers p{
    margin-right: 5.9vw;
}
.info{
    display: flex;
    /* grid-template-columns: auto auto; */
    width: 100%;
    border-top: 3px solid #ccc;
    background-color: #e2dfdf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
}
.map{
display: flex;
align-items: center;
/* border:  1px solid black; */
width: 50%;
flex-direction: column;
}
.map img{
    height: 49vh;
    margin-bottom: 19px;
    
}
.about{
    display: flex;
   align-items: flex-end;
    flex-direction: column;
    /* border:  1px solid red; */
    width: 50%;
}
.about h3, .map h3{
    margin-top: 19px;
}
.about h3{
    margin-right: 6vw;
}
.short{
    width: 490px;
    text-align: right;
    margin-top: 6vh;
    margin-right: 6vw;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 9px;
    border-radius: 9px;
}
.iso{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    margin-right: 6vw;
    background-color: rgb(255, 255, 255, 0.3);
     border-radius: 9px;
     width: 509px;
}
.iso img{
    width: 90px;
    height: 90px;
    margin: 16px;
    border-radius: 9px;
}
.send-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.dotes{
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
.wave-1{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.3);
     border: 1.3px solid #fff;
}
.wave-2{

    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.3);
     border: 1.3px solid #fff;
}
.wave-3{
   
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.3);
     border: 1.3px solid #fff;
}
.col{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
     border: 1.3px solid #000;
}
.n-page-cat{
position: fixed;
top: 0vh;
padding: 19px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 4;
width: 100%;
height: 100vh;
background-color: rgba(0,0,0,0.3);
display: none;
}
.img-close{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}
.img-main{
display: flex;
justify-content:space-evenly;
align-items: center;
width: 70%;
background-color: #f0f0f0;
padding: 9px;
border-radius: 9px;
}
.img-start  img{
    height:59vh; 
    border-radius: 9px;
}
.social{
    width: 30ps;
    height: 100%;
    padding: 3px;
   
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-direction: column;
}
.star{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.compare{
    cursor: pointer;
}
.img-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    height: 59vh;
}
.img-info span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.img-footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: 86px;
    overflow: scroll;
    overflow-x: hidden;
    border: #e2dfdf 3px solid;
    border-radius: 9px;
    padding: 3px;
    position: absolute;
    margin-top: 43vh;
}
.img-footer img{
    width: 6vw;
    padding: 3px;
    transition: .3s all;
    border-radius: 6px;
}
.img-footer img:hover{
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.copy-rights{
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: center;
}
.final-product{
    cursor: pointer;
}